.bash_history
.bash_logout
/.cache
/Downloads
.fehbg
/file_on_office_archlinux
.git-credentials
/.gnupg
.gtkrc-2.0
/.local
/.mozilla
/.pki
/share_from_win10_jiami
/share_from_win10_virtualbox
/share_from_xugong
/share_to_other
/.undodir
/undo-emacs
/user-note
.vboxclient-clipboard-tty1-control.pid
.vboxclient-clipboard-tty1-service.pid
.vboxclient-clipboard-tty7-control.pid
.vboxclient-display-svga-x11-tty1-service.pid
.vboxclient-draganddrop-tty1-control.pid
.vboxclient-draganddrop-tty1-service.pid
.vboxclient-draganddrop-tty7-control.pid
.vboxclient-hostversion-tty1-control.pid
.vboxclient-hostversion-tty7-control.pid
.vboxclient-seamless-tty1-control.pid
.vboxclient-seamless-tty1-service.pid
.vboxclient-seamless-tty7-control.pid
/.vim
.viminfo
/.vscode
.Xauthority
.xsession-errors
.xsession-errors.old
.zcompdump-cz-archlinux-5.9
.zcompdump-cz-archlinux-5.9.zwc

.emacs.d/auto-save-list/
.emacs.d/backups/
.emacs.d/custom.el
.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/.gitignore
.emacs.d/pyim/
.emacs.d/recentf
.emacs.d/snippets/
.emacs.d/var/
.emacs.d/transient/
.emacs.d/bookmarks
.emacs.d/org-roam.db
.emacs.d/abbrev_defs
.emacs.d/.org-id-locations
.emacs.d/tramp/
.emacs.d/tutorial
.emacs.d/projectile-bookmarks.eld
.emacs.d/eshell/
.emacs.d/url/

.config/autostart/
.config/btop/
.config/Code/
.config/dconf/
.config/eog/
.config/go/
.config/gtk-3.0/
.config/i3-origin/
.config/ibus/
.config/mimeapps.list
.config/opensnitch/
.config/Thunar/
.config/xfce4/
.config/nvim/

