/.git
/backups
/eln-cache
/straight
/auto-save-list
/var
/elpa
/snippets
/transient
org-roam.db
amx-items
abbrev_defs
bookmarks
recentf
custom.el
.org-id-locations
/tramp
/tutorial
places
projectile-bookmarks.eld
/url
/eshell
/pyim
